
<div>
    <nav class="bg-white dark:bg-gray-800  shadow py-4 ">
        <div class="max-w-7xl mx-auto px-8">
            <div class="flex items-center justify-between h-16">
                <div class=" flex items-center">
                    <a class="flex-shrink-0" href="/">
                        <h2 class="font-bold text-yellow-500	 text-4xl">Tweets</h2>
                    </a>
                    <div class="">
                        <div class="ml-10 flex items-baseline space-x-4">
                            <%= link_to "Home", root_path, class: "text-gray-800 dark:text-white  hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md text-md font-medium" %>
                            <%= link_to "Tweets", tweets_path, class: "text-gray-800 dark:text-white  hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md text-md font-medium" %>
                            
                            <%= link_to "About", about_path, class: "text-gray-800 dark:text-white  hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md text-md font-medium" %>
                            <%= link_to "Twitter Accounts", twitter_accounts_path, class: "text-gray-800 dark:text-white  hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md text-md font-medium" %>                            
                        <% if Current.user %>
                            <%= link_to Current.user.email, edit_password_path, class: "text-gray-800 dark:text-white  hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md text-md font-medium" %>
                            <%= button_to "Logout", logout_path, method: :delete, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
                        <% else %>
                            <%= link_to "Login", sign_in_path, class: "text-gray-800 dark:text-white  hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md text-md font-medium" %>
                            <%= link_to "Sign Up", sign_up_path, class: "text-gray-800 dark:text-white  hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md text-md font-medium" %>
                        <% end %>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </nav>
</div>
